@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Inter:wght@300;400;500;600;700&family=Silkscreen&display=swap');

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");


:root{
    --bg: #000;
    --text-primary: #1d1f21;
    --inter:'Satoshi', sans-serif;
    --silkscreen: 'Silkscreen', cursive;
    --mono:'IBM Plex Mono', monospace;
    --font-x: 400;
    --font-xl: 500;
    --font-xxl: 700;
    --font-xxxl: 900;
    --background: #ffc400;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--inter);
    font-weight: var(--font-xl);
}
nav{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding-left: 2em;
    padding-top: 1em;
    zoom: 0.8;
}

nav > ul{
    display: flex;
    gap: 3em;
}

nav > ul > li{
    list-style: none;
    width: 120px;
    background-color:hsla(0,0%,100%,.7);
    border-radius: 17px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    padding-left: 1px;   
}

nav i {
    width: 20px;
}
footer{
    display: none;
    position: absolute;
    bottom: 0;
    background-color: var(--text-primary);
    width: 100%;
    height: 200px;
    margin-bottom: -23em;
}

footer > span{
    margin-top: 3em;
    color: white;
    font-family: var(--mono);
    display: flex;

    justify-content: center;
}

footer > p{
    display: flex;
    justify-content: center;
    font-size: 9px;
    font-weight: var(--font-xl);
    font-family: var(--mono);
    color: white;
}

footer > ul > li{
    list-style: none;
    width: 120px;
    background-color:hsla(0,0%,100%,.7);
    border-radius: 17px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    padding-left: 2px;
}

footer > ul{
    display: flex;
    justify-content: center;
    padding-top: 3em;
    gap: 2em;
}


h1{
    font-family: var(--silkscreen);
    font-size: 45px;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0 12em 0 12em;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 > h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
   
}

.section1 > span:not(.part_1){
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-bottom: 1rem;
    color: var(--text-primary);
    font-weight: var(--font-xxxl);
    text-align: center;
}

.part_1{
    margin: auto;
    width: 80%;
    font-weight: var(--font-x);
    font-size: 14px;
    text-align: center;
}

.btn{
    margin: auto;
    margin-top: 1rem;
    background-color: #000;
    border: 1px solid #000;
    border: 1px solid var(--black);
    border-radius: 57px;
    font-size: 18px;
    padding: 20px;
    width: 9em;
}

.btn > a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}


.section2 ul{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2rem;
    align-items: center;
}

.section2 li:not(i){
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 80%;
    margin: auto;
    background-color:hsla(0,0%,100%,.7);
    height: 320px;
    border-radius: 10px;
}


.section2 li h3{
    position: absolute;
    display: flex;
    padding-top: 2em;
    padding-left: 2em;
    justify-content: left;
}

.section2 .features--art{
    background-color: var(--text-primary);
    width: 50%;
}

.li_content{
    margin-top: -3em;
}

.section2 h2{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: var(--silkscreen);
    margin-top: 1em;
}

.section2 h3{
    text-align: center;
}



/* icon  */

.section2 i:not(.gg-timelapse){
    position: relative;
    top: -6.6em;
    left: 12em;
    display: flex;
    justify-content: center;
    margin: auto;
    zoom: 1;
}

.gg-timelapse{
    position: relative;
    top: -6.6em;
    left: 16em;
    display: flex;
    justify-content: center;
    margin: auto;
    zoom: 1;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 3rem;
}

.form--desc{
    display: flex;
    font-size: 24px;
    justify-content: left;
    padding-top: 3em;
    width: 50%;
    padding-left: 6em;
}

.form--block{
    margin: auto;
    background-color:hsla(0,0%,100%,.7);
    height: 320px;
    width: 30%;
    margin-bottom: 8em;
    border-radius: 10px;
}

.section3 form{
    display: flex;
    gap: 1em;
    padding-top:3em;
    flex-direction: column;
    width: 100%;
    font-family: var(--inter) !important;
    
}

.section3 > .form--block > form > input{
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    margin: auto;
    font-family: var(--inter) !important;
    font-size: 14px !important;
}

.section3 > .form--block > form > input:focus{
        border: 3px solid #5551ff;
}

.section3 > .form--block > form > input{
    width: 80%;
}

.section3 > .form--block > form > button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-weight: 700;
    line-height: 1;
    width: 40%;
    margin: auto;
    transition: transform 200ms,background 200ms; 
}


.section3 > .form--block > form > button:hover{
    transform: translateY(-2px);
}