@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Inter:wght@300;400;500;600;700&family=Silkscreen&display=swap');

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");


@import url('https://css.gg/browse.css');

:root {
    --bg: #000;
    --text-primary: #1d1f21;
    --inter: 'Satoshi', sans-serif;
    --silkscreen: 'Silkscreen', cursive;
    --mono: 'IBM Plex Mono', monospace;
    --font-x: 400;
    --font-xl: 500;
    --font-xxl: 700;
    --font-xxxl: 900;
    --background: #ffc400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--inter);
    font-weight: var(--font-xl);
}

.hamburger{
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding-left: 2em;
    padding-top: 1em;
}

.nav>.ul {
    display: flex;
    gap: 0.5em;
}

.nav a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: var(--bg);
    align-items: center;
    gap: 1em;
}

.nav>.ul>li {
    list-style: none;
    width: 120px;
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 17px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    padding-left: 1px;
}

.nav i {
    width: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--text-primary);
    width: 100%;
    height: 200px;
    margin-bottom: -7em;
}

footer>span {
    margin-top: 3em;
    color: white;
    font-family: var(--mono);
    display: flex;

    justify-content: center;
}

footer>p {
    display: flex;
    justify-content: center;
    font-size: 9px;
    font-weight: var(--font-xl);
    font-family: var(--mono);
    color: white;
}

footer>ul>li {
    list-style: none;
    width: 120px;
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 17px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    padding-left: 2px;
}

footer>ul {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 2em;
}


h1 {
    font-family: var(--silkscreen);
    font-size: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 12em 0 12em;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1>h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

}

.section1>span:not(.part_1) {
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-bottom: 1rem;
    color: var(--text-primary);
    font-weight: var(--font-xxxl);
    text-align: center;
}

.part_1 {
    margin: auto;
    width: 80%;
    font-weight: var(--font-x);
    font-size: 16px;
    text-align: center;
}

.btn {
    margin: auto;
    margin-top: 1rem;
    background-color: #000;
    border: 1px solid #000;
    border: 1px solid var(--black);
    border-radius: 57px;
    font-size: 18px;
    padding: 20px;
    width: 9em;
}

.btn>a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}


.section2 ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2rem;
    align-items: center;
}

.section2 * li {
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 80%;
    margin: auto;
    background-color: hsla(0, 0%, 100%, .7);
    height: 320px;
    border-radius: 15px;
}

.twist-col:not(i) {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.twist-col h3 {
    position: absolute;
    display: flex;
    padding-top: 2em;
    padding-left: 2em;
    justify-content: left;
    left: 35.8em;
    font-weight: 700;
}

.twist-col .feature--txt {
    left: -2em;
}

.section2 li h3 {
    position: absolute;
    display: flex;
    padding-top: 2em;
    padding-left: 2em;
    justify-content: left;
    font-weight: 700;
}

.feature--txt {
    position: relative;
    top: 4em;
    left: 2.5em;
    font-size: 15px;
    padding-top: 0.5rem;
    font-weight: 600;
    color: #494949;
}


.features--art-twist {
    background-color: var(--text-primary);
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.section2 .features--art {
    background-color: var(--text-primary);
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section2 .features--art-twist>img {
    display: flex;
    margin-right: auto;
    padding-left: 3em;
    width: 360px;
}

.section2 .features--art>img {
    display: flex;
    margin-left: auto;
    padding-right: 3em;
    width: 360px;
}

.li_content {
    margin-top: -3em;
}

.section2 h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: var(--silkscreen);
    margin-top: 1em;
}

.section2 h3 {
    text-align: center;
}



/* icon  */

.section2 i:not(.gg-timelapse) {
    position: relative;
    top: -6.6em;
    left: 25em;
    display: flex;
    justify-content: center;
    margin: auto;
    zoom: 1;
}

.gg-timelapse {
    position: relative;
    top: -6.6em;
    left: 16em;
    display: flex;
    justify-content: center;
    margin: auto;
    zoom: 1;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 3rem;
}

.form--desc {
    display: flex;
    font-size: 24px;
    justify-content: left;
    padding-top: 3em;
    width: 50%;
    padding-left: 6em;
}

.form--block {
    margin: auto;
    background-color: hsla(0, 0%, 100%, .7);
    height: 320px;
    width: 30%;
    margin-bottom: 8em;
    border-radius: 10px;
}

.section3 form {
    display: flex;
    gap: 1em;
    padding-top: 3em;
    flex-direction: column;
    width: 100%;
    font-family: var(--inter) !important;

}

.section3>.form--block>form>input {
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    margin: auto;
    font-family: var(--inter) !important;
    font-size: 14px !important;
}

.section3>.form--block>form>input:focus {
    border: 3px solid #5551ff;
}

.section3>.form--block>form>input {
    width: 80%;
}

.section3>.form--block>form>button {
    display: inline-block;
    outline: 0;
    border: 0;
    font-style: var(--inter);
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-weight: 700;
    line-height: 1;
    width: 40%;
    margin: auto;
    transition: transform 200ms, background 200ms;
}


.section3>.form--block>form>button:hover {
    transform: translateY(-2px);
}



/* mobile devices  */

@media screen and (max-width: 600px) {

    .hamburger{
        display: flex;
    }

    .hamburger > .burger{
        text-decoration: none;
        color: var(--bg);
    }

    .nav{
        display: none;
    }

    .nav-open {
        display: flex;
        position: absolute;
        z-index: 1;
        height: 100vh;
        width: 100%;
        background-color: var(--background);
        transition: all 0.4s ease-in;
    }

    .nav-open li{
        margin: 0.8rem 0;
        width: 100%;
        margin-left: 10.7em;
    }

    .nav-open li:hover{
        box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    }

    .nav-open a{
        margin-right: 2em;
    }

    .col-link{
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
    }


    .section2 {
        display: flex;
        margin: auto;
    }

    .section2 h2 {
        width: 100%;
        text-align: center;
    }

    .section2 * li {
        zoom: 0.7;
        width: 100%;
    }
    /* .section2 ul {
        width: 100vw;
        gap: 3em;
        margin-top: 2rem;
        align-items: center;
    } */

    .twist-col h3 {
        width: 50%;
        text-align: left;
        padding-right: 1.6em;
        left: 16.5em;
    }

    .twist-col .feature--txt {
        left: -1em;
    }

    .section2 li h3 {
        font-size: 18px;
        width: 50%;
        text-align: left;
        padding-left: 12px;
    }

    .feature--txt {
        top: 6em;
        left: 1em;
    }


    .section2 .features--art-twist>img {
        padding-top: 2em;
        margin-left: -3em;
        width: 320px;
    }

    .section2 .features--art>img {
        width: 360px;
    }



    .section3 form {
        width: 100%;
        font-family: var(--inter) !important;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: normal;
    }

    .form--desc {
        display: flex;
        font-size: 21px;
        justify-content: center;
        width: 100%;
    }

    .form--desc h2 {
        width: 150%;
        margin-left: -3em;
        margin-bottom: 2em;
    }

    .section3>.form--block {
        width: 100%;
    }

    .section3>.form--block>form>input {
        width: 80%;
    }



    .section1>span:not(.part_1) {
        font-size: 21px;
        text-align: center;
    }

    .part_1 {
        margin: auto;
        width: 80%;
        font-weight: var(--font-x);
        font-size: 16px;
        text-align: center;
    }

    .btn {
        zoom: 0.8;
    }

}


@media  screen and (max-width: 1024px) {
    .container {
        width: 100%;
        padding-right: 3em;
        padding-left: 3em;
    }


    .section2 {
        display: flex;
        margin: auto;
    }

    .section2 h2 {
        width: 100%;
        text-align: center;
    }

    .section2 * li {
        display: flex;
        width: 100%;
    }


    .twist-col h3 {
        padding-right: 1.6em;
        left: 22.5em;
    }

    .twist-col .feature--txt {
        left: -1em;
    }

    .section2 li h3 {
        font-size: 18px;
        width: 50%;
        text-align: left;
        padding-left: 12px;
    }

    .feature--txt {
        top: 6em;
        left: 1em;
    }


    .section2 .features--art-twist>img {
        padding-top: 2em;
        margin-left: -3em;
        width: 320px;
    }

    .section2 .features--art>img {
        width: 320px;
    }



    .section3 form {
        width: 100%;
        font-family: var(--inter) !important;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: normal;
    }

    .form--desc {
        display: flex;
        font-size: 21px;
        justify-content: center;
        width: 100%;
    }

    .form--desc h2 {
        width: 100%;
        margin-left: -3em;
        margin-bottom: 2em;
    }

    .section3>.form--block {
        width: 100%;
    }

    .section3>.form--block>form>input {
        width: 80%;
    }



    .section1>span:not(.part_1) {
        font-size: 21px;
        text-align: center;
    }

    .part_1 {
        margin: auto;
        width: 80%;
        font-weight: var(--font-x);
        font-size: 16px;
        text-align: center;
    }

    .btn {
        zoom: 0.8;
    }

}